#site-header {
    padding: 1rem;
    border-bottom: 1px solid #bbb;
    
    h1 {
        margin: 0;
    }
}

#site-main {
    width: 60%;
    margin: 2rem 20%;
    
    &.home {
        dl {
            dd {
                span {
                    &:before {
                        content: " • ";
                        color: #000;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

#site-footer {
    width: 80%;
    margin: 0px 10%;
    border-top: 2px solid #eee;
    color: #8c8c8c;
    font-size: 90%; 
    padding: 5px 0px 0px;
    
    p {
        margin: 0;
    }
 }

#post-header {
    margin-bottom: 1rem;
    
    * {
        margin: 0;
    }
}

#post-content {
    width: 100%;
}

@media (max-width: 480px) and (min-width: 320px) {
    #site-main, #site-footer {
        width: 95%;
        margin: 0 2.5%;
    }
    
    #site-main {
        margin: 2rem 2.5%;
    }
    #site-main {
        &.home {
            dl {
                dd {
                    span {
                        display: block;
                        
                        &:before {
                            content: "";
                        }
                    }
                }
            }
        }
    }
}
