// font-family
$sans-serif: Helvetica, Arial, sans-serif;
$monospace: monospace, monospace;
$serif: "Times New Roman", Times, serif;

// font-size
$root-font-size: 18px;

// color
$main-color: #444;
$border-color: #bbb;
$heading-color: #333;
$muted-color: #666;
$muted-background: #f5f5f5;

$dark: #444;
$light: #fff;
