$main-font-family: 'Helvetica', 'Arial', sans-serif;
$monospace: monospace, monospace;
$serif: "Times New Roman", Times, serif;

$main-font-color: lighten( #000, 15% );
$heading-color: lighten( #000, 10% );
$muted-color: lighten( #000, 40% );

$main-font-size: 17px;

$code-background-color: lighten( #000, 80% );

$light-border-color: lighten( #000, 60% );
