---
---
{% comment %}
    blank element used for selector, depended on this
{% endcomment %}
<span style="display:none;" id="{{ site.posts | map: 'tags' | uniq | join: '"></span><span id="' }}"></span>

<style>
    {% comment %}
        hide all posts and tag name by default
    {% endcomment %}
    [tags] {
        display: none;
    }
    
    {% comment %}
        display all posts (altering) match the tags
    {% endcomment %}
    {% for tag in site.tags %}#{{tag[0]}}:target ~ .main-content [tags~={{tag[0]}}]{% if forloop.last == false %}, {% endif %}{% endfor %} {
        display: block;
    }

    {% comment %}
        display tag name (altering) in header **OPTIONAL**
    {% endcomment %}
    {% for tag in site.tags %}#{{tag[0]}}:target ~ .main-header [tags={{tag[0]}}]{% if forloop.last == false %}, {% endif %}{% endfor %} {
        display: inline;
    }
</style>
<div class="main-header">
    <h3>
        List post with
        {% comment %}
            tags name
        {% endcomment %}
        {% for tag in site.tags %}
            <span tags="{{tag[0]}}">{{tag[0]}}</span>
        {% endfor %}
    </h3>
</div>
<div class="main-content">
    {% comment %}
        add attribute tags to post and add its associated tags as value
    {% endcomment %}
    {% for post in site.posts %}
        <div class="post" tags="{% for tag in post.tags %}{{tag}}{% if forloop.last == false %}{{" "}}{% endif %}{% endfor %}">
            <h4>{{ post.title }}</h4>

        </div>
    {% endfor %}
</div>