---
layout: default
---
<article class="post">
    <header>
        <h4>{{ page.title }}</h4>
        <p class="post-date">Posted on <time>{{ page.date | date: "%b %d, %Y"}}</time></p>
        {% if page.update %}
            <p class="post-update">Updated on <time>{{ page.update | date: "%b %d, %Y"}}</time></p>
        {% endif %}
    </header>
    <div class="post-content">
        {{content}}
    </div>
    <footer>
        <p class="post-tags">
                Tags: 
                {% if page.collection == "shits" %}
                    {% for tag in page.tags %}
                        <a href="/shit/#{{tag}}" class="post-tag">{{tag}}</a>{% if forloop.last == false %}, {% endif %} 
                    {% endfor %}
                {% else %}
                    {% for tag in page.tags %}
                        <a href="/tags.html#{{tag}}" class="post-tag">{{tag}}</a>{% if forloop.last == false %}, {% endif %} 
                    {% endfor %}
                {% endif %}
            </p>
    </footer>
</article>